# Игнорировать node_modules
node_modules/

# Игнорировать файлы среды разработки
.vscode/
.idea/

# Игнорировать файлы логов
logs/
*.log

# Игнорировать файлы конфигурации  
# (данный пункт здесь не выполняется для более полного просмотра выполнения тестового задания)
# config/config.json
